In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../input"))

['imbd-sf']

In [7]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [8]:
len(data)

1890

# Предобработка датасета

In [2]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [3]:
data[data.budget == data.budget.max()]['original_title']
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [4]:
data[data.runtime == data.runtime.max()]['original_title']
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [ ]:
data[data.runtime == data.runtime.min()]['original_title']
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [ ]:
data.runtime.describe()
answer_ls.append(2)# 109 ближе всего к 110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [ ]:
data.runtime.median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [ ]:
data['marga'] = data.apply(lambda x: x['revenue'] - x['budget'], axis = 1)
data[data.marga == data.marga.max()]['original_title']
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [ ]:
data[data.marga == data.marga.min()]['original_title']
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [ ]:
s = data[(data.revenue > data.budget)]
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [ ]:
b = data[(data.release_year == 2008)].marga.max()
data.loc[(data['marga'] == b)]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [ ]:
r = data[(data.release_year >= 2012) & (data.release_year <= 2014)].marga.min()
data.loc[(data['marga'] == r)]
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
import collections
c = collections.Counter()
b = data.genres.str.split('|').sum()
b
for word in b:
    c[word] += 1
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [ ]:
import collections
c = collections.Counter()
b = data[data.revenue > data.budget]
d = b.genres.str.split('|').sum()
for word in d:
    c[word] +=1
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
import collections
c = collections.Counter()
b = data.director.str.split('|').sum()
for word in b:
    c[word] += 1
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [ ]:
import collections
c = collections.Counter()
b = data[data.revenue > data.budget]
d = b.director.value_counts()
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [ ]:
df.groupby(['director'])
grouped_df = df.groupby(['director'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [ ]:
from collections import defaultdict
actorsDict = defaultdict(list)
for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)
am = actorsDF.merge(data,how='inner',on = 'imdb_id')
am.head(5)
am.groupby(['actor'])
grouped_df = am.groupby(['actor'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [ ]:
from collections import defaultdict
actorsDict = defaultdict(list)
for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)
am = actorsDF.merge(data,how='inner',on = 'imdb_id')
am.head(5)
am.groupby(['actor'])
grouped_df = am.groupby(['actor'])['marga'].sum().sort_values(ascending=False)
am[am.release_year == 2012].groupby(['actor'])['marga'].sum().sort_values(ascending=False)

answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [ ]:
from collections import defaultdict
actorsDict = defaultdict(list)
mean_budget = data.budget.mean()
data = data.query("budget > @mean_budget")
for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)
actorsDF_grouped = actorsDF.groupby('actor').count()
res = actorsDF_grouped.idxmax()
res

answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [ ]:
from collections import defaultdict
actorsDict = defaultdict(list)
genresDict = defaultdict(list)

for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for actor in row['cast'].split('|'):
        actorsDict['imdb_id'].append(imdb_id)
        actorsDict['actor'].append(actor)
actorsDF = pd.DataFrame(actorsDict)

for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for genre in row['genres'].split('|'):
        genresDict['imdb_id'].append(imdb_id)
        genresDict['genres'].append(genre)
genresDF = pd.DataFrame(genresDict)

joined = actorsDF.merge(genresDF, how='inner',on = 'imdb_id')
joined[joined.actor == 'Nicolas Cage'].groupby(['actor'])['genres'].value_counts()

answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
from collections import defaultdict
productionDict = defaultdict(list)


for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for company in row['production_companies'].split('|'):
        productionDict['imdb_id'].append(imdb_id)
        productionDict['company'].append(company)
prodactDF = pd.DataFrame(productionDict)

prodactDF

prodactDF.company.value_counts()

answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [ ]:
from collections import defaultdict
productionDict = defaultdict(list)


for _,row in data.iterrows():
    imdb_id = row['imdb_id']
    for company in row['production_companies'].split('|'):
        productionDict['imdb_id'].append(imdb_id)
        productionDict['company'].append(company)
       
prodactDF = pd.DataFrame(productionDict)

joined = prodactDF.merge(data, how = 'inner', on = 'imdb_id' )

joined[joined.release_year == 2015].groupby(['release_year'])['company'].value_counts().sort_values(ascending=False)

answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
joined[joined.genres == 'Comedy'].groupby(['company'])['marga'].sum().sort_values(ascending=False)
answer_ls.append(3)##

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [ ]:
joined[joined.release_year == 2012].groupby(['company'])['marga'].sum().sort_values(ascending=False)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [ ]:
joined[joined.company == 'Paramount Pictures'].groupby(['original_title'])['marga'].min().sort_values(ascending=False)
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [ ]:
joined.groupby(['marga'])
grouped_df = joined.groupby(['release_year'])['marga'].sum().sort_values(ascending=False)
display(grouped_df)

answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [ ]:
data21=data[data.production_companies.str.contains("Warner", na=False)]
grouped_df2 = data21.groupby(['release_year']).sum()
grouped_df2.marga.sort_values(ascending=False).head(1)

answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
from datetime import datetime as dt
data["Month"]  = data.release_date.apply(lambda date:dt.strptime(date,'%m/%d/%Y').month)
grouped_df56 = data.groupby(['Month']).count().sort_values(by = 'imdb_id', ascending=False)
grouped_df56

answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [ ]:
answer_ls.append(2)##

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [ ]:
data[(data.Month == 12) | (data.Month == 1) | (data.Month == 2)].groupby(['director'])[['imdb_id']].count().sort_values(['imdb_id'], ascending=False)

answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [ ]:
z = data.groupby(['Month']).sum().sort_values(by = 'marga', ascending=False)
z
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
def dlina(row):
    if 'Universal' in row['production_companies']:
        return 'Universal'
    if 'Paramount' in row['production_companies']:
        return 'Paramount'
    if 'Four By Two' in row['production_companies']:
        return 'Four By Two'
    if 'Warner' in row['production_companies']:
        return 'Warner'
    if 'Jim Henson' in row['production_companies']:
        return 'Jim Henson'
data['dlina']=data.apply(dlina,axis=1)
data['title_len']=data.original_title.str.len()
directors_len=data.groupby(['dlina']).title_len.mean()
directors_len

answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [ ]:
data['title_words']=data.original_title.str.count(' ')+1
directors_len=data.groupby(['dlina']).title_words.mean()
directors_len

answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [ ]:
different_words=[]
for row in data.original_title:
    words=row.split()
    for word in words:
        if word.lower() in different_words: 
            continue
        else: 
            different_words.append(word.lower())
len(different_words)

answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
movies_1=['Inside Out', 'Gone Girl', '12 Years a Slave']
movies_2=['The Adventures of Rocky & Bullwinkle', 'BloodRayne Girl']
movies_3=['The Lord of the Rings: The Return of the King']
movies_4=['300','Lucky Number Slevin']
count=data.imdb_id.count()
count1=int(round(0.01*count)-1)
data1=data.sort_values(by=['vote_average'], ascending=False).iloc[0:count1]
for movie in movies_1:
    display(data1[data1['original_title'].str.contains(movie)])
for movie in movies_2:
    display(data1[data1['original_title'].str.contains(movie)])
for movie in movies_3:
    display(data1[data1['original_title'].str.contains(movie)])

answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [ ]:
actors1=['Johnny Depp','Helena Bonham Carter']
actors2=['Johnny Depp','Ian McKellen']
actors3=['Vin Diesel','Paul Walker']
actors4=['Adam Sandler','Kevin James']
actors5=['Daniel Radcliffe','Rupert Grint']
print('1:',data[(data.cast.str.contains(actors1[0]))&(data.cast.str.contains(actors1[1]))].imdb_id.count())
print('2:',data[(data.cast.str.contains(actors2[0]))&(data.cast.str.contains(actors2[1]))].imdb_id.count())
print('3:',data[(data.cast.str.contains(actors3[0]))&(data.cast.str.contains(actors3[1]))].imdb_id.count())
print('4:',data[(data.cast.str.contains(actors4[0]))&(data.cast.str.contains(actors4[1]))].imdb_id.count())
print('5:',data[(data.cast.str.contains(actors5[0]))&(data.cast.str.contains(actors5[1]))].imdb_id.count())

answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
directors=['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
for director in directors:
    income_movies=data[(data.director.str.contains(director))&(data.marga>0)].imdb_id.count()
    movies=data[data.director.str.contains(director)].imdb_id.count()
    print(income_movies/movies)
    
answer_ls.append(4)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []

In [ ]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)